.controls {
  display: flex;
  position: fixed;
  left: 40px;
  right: 40px;
  bottom: 180px;
  z-index: 10;
}

.scrollbar {
  width: 90%;
  border: solid 1px #756e8e;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  height: 20px;
}

.track {
  left: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
}

.thumb {
  position: absolute;
  height: 100%;
  background: #756e8e;
}

