.scrollbar.horizontal {
  width: 90%;
  border: solid 1px #756e8e;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  bottom:-50px;
  height: 20px;
  margin: auto;
  left:5%;
}

.scrollbar.horizontal .track {
  left: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
}

.scrollbar.horizontal .thumb {
  position: absolute;
  height: 100%;
  background: #756e8e;
}

.scrollbar.vertical {
  position: absolute;
  height: 90%;
  border: solid 1px #756e8e;
  border-radius: 4px;
  background-color: #fff;
  width: 20px;
  right: -50px;
  top:5%;
}

.scrollbar.vertical .track {
  top: 0;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.scrollbar.vertical .thumb {
  position: absolute;
  width: 100%;
  background: #756e8e;
}
