.container {
  width: 60%;
  margin: 50px auto;
  position: relative;
  max-width: 400px;
}

.content_outer {
  width: 100%;
  background-color: #f2f2f2;
  margin: 0px 0px 20px;
  position: relative;
}

.content {
  width: 100%;
  height: 250px;
  display: flex;
  /******* overflow auto and other scrollbar hiding tweaks vs overflow hidden leave the mouse scroll / mobile drag functionality on ********/
  overflow: auto;
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.buttons {
  position: absolute;
  padding: 5px;
}

.buttons_v button {
  display: block;
}

.buttons_h {
  left: 0px;
  bottom: 0px;
}

.buttons_v {
  right: 0px;
  top: 0px;
}

button {
  font-size: 16px;
  line-height: 20px;
  width: 30px;
  margin: 2px;
}

.column {
  min-width: 25%;
}

.block {
  width: 100%;
  padding-top: 100%;
  box-sizing: border-box;
  position: relative;
}

.block_face {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
}
